@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidArabicNaskh/DroidNaskh-Regular.ttf) format('truetype');
}

html,
body {
  height: 100%;
}

body {
  padding: 2em 0;
  text-align: right;
  direction: rtl;
  line-height: inherit;
  font-family: 'Droid Arabic Naskh', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

img { max-width: 100%; }

p { margin: 0 0 26px }

.editor { padding-left: 0; }

.editor:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent transparent #F2F2F2;
}

.editor-body {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 1em;
  line-height: inherit;
  outline: medium none;
}

.source {
  position: fixed;
  left: 1em;
  bottom: 1rem;
  background: #f2f2f2;
  padding: .1em .5em;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.6875em; /*11px*/
}

/* Some Helper Classes */

.full-height { height: 100%; }
.fixed { position: fixed; }